In [44]:
import geopandas as gpd
import pandas as pd
import folium
import matplotlib.pyplot as plt
import seaborn as sns
sf = gpd.read_file("../data/raw/VMADMIN/POSTCODE_POLYGON.shp")
sf['centroid'] = sf['geometry'].apply(lambda x: (x.centroid.y, x.centroid.x))
#read data
df = pd.read_csv('../data/curated/price_normalised3.csv')
df.head()

,Unnamed: 0,name,postcode,property_type,bedrooms,bathrooms,parking,schools,cost_text,train_station(m),CBD(m),population2022,population2023,population2024,population2025,income2022,income2023,income2024,income2025,price_label
0,5321,Room 6/8 Melwood Court Meadow Heights VIC 3048,3048,Apartment / Unit / Flat,1,1,0,0.3,130.0,2131.1,19150.7,17364.0,16549.0,15773.0,15034.0,86498,88316,90176,92078,0
1,5569,30 Daly Boulevard Highton VIC 3216,3216,House,9,2,2,2.0,130.0,2904.1,85109.1,59229.0,60753.0,62377.0,64109.0,184195,192855,201927,211432,0
2,640,62 Reserve Rd Grovedale VIC 3216,3216,House,1,2,2,1.0,140.0,1809.3,87665.1,59229.0,60753.0,62377.0,64109.0,184195,192855,201927,211432,0
3,5570,1/57 Wanda Road Caulfield North VIC 3161,3161,House,1,1,0,0.6,140.0,1432.7,9784.5,10418.0,10185.0,9957.0,9734.0,56454,58176,59951,61780,0
4,5571,Room 2/31 Stanley Street Frankston VIC 3199,3199,House,1,1,1,1.1,145.0,916.1,53197.1,60500.0,59711.0,58932.0,58164.0,176387,182176,188161,194348,0

In [45]:
#group the data by postcode
df_1 = df.groupby('postcode').mean()
df_1['postcode'] = df_1.index
df_1

,Unnamed: 0,bedrooms,bathrooms,parking,schools,cost_text,train_station(m),CBD(m),population2022,population2023,population2024,population2025,income2022,income2023,income2024,income2025,price_label,postcode
postcode,,,,,,,,,,,,,,,,,,
3000,4001.620209,1.613240,1.292683,0.344948,1.450871,595.713214,729.649129,1021.660279,41911.0,37220.0,33055.0,29355.0,23639.0,24109.0,24588.0,25077.0,0.487805,3000
3002,3445.400000,1.800000,1.400000,1.033333,0.960000,765.756410,853.090000,2502.200000,5563.0,5334.0,5113.0,4902.0,76940.0,79784.0,82733.0,85791.0,0.866667,3002
3003,3704.256410,1.717949,1.358974,0.692308,1.243590,606.282051,701.069231,1900.453846,3.0,3.0,3.0,3.0,70.0,17.0,4.0,1.0,0.461538,3003
3004,4116.392857,1.892857,1.464286,1.232143,1.062500,786.885989,1517.662500,4172.496429,8538.0,8166.0,7812.0,7473.0,82000.0,78618.0,76292.0,74826.0,0.910714,3004
3006,3770.172185,1.814570,1.463576,0.741722,1.003311,708.586347,1498.073510,2485.819868,28091.0,27075.0,26096.0,25153.0,126739.0,130222.0,133801.0,137480.0,0.768212,3006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3944,5265.750000,3.500000,1.750000,2.500000,2.675000,970.192308,46980.675000,115091.625000,2630.0,2660.0,2691.0,2721.0,44616.0,45495.0,46391.0,47305.0,2.000000,3944
3975,2480.500000,3.857143,2.142857,1.928571,0.821429,541.428571,2511.257143,44933.921429,18204.0,18337.0,18471.0,18606.0,58421.0,59419.0,60434.0,61466.0,0.000000,3975
3976,3116.153846,3.000000,1.384615,1.769231,0.561538,405.769231,3083.630769,42969.284615,25782.0,24935.0,24116.0,23325.0,56688.0,59027.0,61463.0,64000.0,0.000000,3976
3977,2754.726316,3.284211,1.810526,1.663158,1.004211,471.789474,4307.833684,52529.022105,151306.0,158304.0,165983.0,174412.0,430078.0,446475.0,463552.0,481340.0,0.042105,3977
3978,2351.540541,3.783784,1.918919,1.702703,2.051351,503.783784,7414.286486,55408.545946,34386.0,37544.0,41005.0,44802.0,191734.0,201926.0,212797.0,224400.0,0.108108,3978

In [46]:
postcode = []
for i in sf.iloc[:,1:2].values:
    postcode.append(int(i))
sf['postcode'] = postcode
# create a JSON 
geoJSON = sf[['postcode', 'geometry']].drop_duplicates('postcode').to_json()

In [47]:
df_school = df_1.sort_values(by='schools', axis=0, ascending=True)
df_top5_school_distance = df_school.head()
df_school[['schools','cost_text']].head()
# top  5 suburb has shortest distance to school
# liveable for family that has kids

          schools  cost_text
postcode
3089          0.1      470.0
3022          0.1      450.0
3779          0.2      350.0
3713          0.2      425.0
3919          0.3      390.0

In [48]:
post_code = []
for i in sf['POSTCODE']:
    post_code.append(int(str(i)))
sf['postcode'] = post_code
df_top5_school_distance = df_top5_school_distance.reset_index(drop=True)
#merge the two dataset with the same postcode
df_top5_school_distance = pd.merge(df_top5_school_distance,sf,on = ['postcode'],how='left')

In [49]:
m = folium.Map(location=[-37.0,144], control_scale=True, zoom_start=7)

# The shortest distance to school in each suburb
c = folium.Choropleth(
    geo_data=geoJSON, 
    name='choropleth1', 
    data=df_1, 
    columns=['postcode','schools'], 
    key_on='properties.postcode', 
    fill_color='YlOrRd', 
    nan_fill_color='black',
    legend_name='top 5 suburbs have shortest school distance'
)

c.add_to(m)

df_copy = df_top5_school_distance.copy()
#add green marker of top 5
for i in range(0, len(df_copy)):
    html="""
    <h4> Postcode: </h4>""" + str(df_copy.iloc[i]['postcode'])+ \
    """<h4>Distance closest school:</h4>""" + str(df_copy.iloc[i]['schools'])
    iframe = folium.IFrame(html=html, width=200, height=300)
    popup = folium.Popup(iframe, max_width=2650)
    folium.Marker(
        location=[df_copy.iloc[i]['centroid'][0],df_copy.iloc[i]['centroid'][1]],
        popup= popup,
        tooltip=str(df_copy.iloc[i]['postcode']),
        icon=folium.Icon(color='green',icon='home',prefix="fa"),
    ).add_to(m)

#save this plot in plots
import os
fig_save_path = "../plots/"
if not os.path.exists(fig_save_path):
    os.makedirs(fig_save_path)
m.save(os.path.join(fig_save_path,"top 5 shortest school distance.html"))

In [50]:
df_CBD = df_1.sort_values(by='CBD(m)', axis=0, ascending=True)
df_CBD[['CBD(m)','cost_text']].head()
# top  5 suburb has shortest distance to CBD
# liveable for youths

               CBD(m)   cost_text
postcode
3000      1021.660279  595.713214
3053      1679.603540  541.752212
3003      1900.453846  606.282051
3006      2485.819868  708.586347
3002      2502.200000  765.756410

In [51]:
df_CBD = df_CBD.head()
df_CBD = df_CBD.reset_index(drop=True)
df_CBD = pd.merge(df_CBD,sf,on = ['postcode'],how='left')

In [52]:
m1 = folium.Map(location=[-37.0,144], control_scale=True, zoom_start=7)

# The distance to CBD in each suburb
c = folium.Choropleth(
    geo_data=geoJSON, 
    name='choropleth1', 
    data=df_1, 
    columns=['postcode','CBD(m)'], 
    key_on='properties.postcode', 
    fill_color='YlOrRd', 
    nan_fill_color='black',
    legend_name='top 5 suburbs closest to CBD'
)

c.add_to(m1)

df_copy = df_CBD.copy()

for i in range(0, len(df_copy)):
    html="""
    <h4> Postcode: </h4>""" + str(df_copy.iloc[i]['postcode'])+ \
    """<h4>Distance closest CBD:</h4>""" + str(df_copy.iloc[i]['CBD(m)'])
    iframe = folium.IFrame(html=html, width=200, height=300)
    popup = folium.Popup(iframe, max_width=2650)
    folium.Marker(
        location=[df_copy.iloc[i]['centroid'][0],df_copy.iloc[i]['centroid'][1]],
        popup= popup,
        tooltip=str(df_copy.iloc[i]['postcode']),
        icon=folium.Icon(color='green',icon='home',prefix="fa"),
    ).add_to(m1)

import os
fig_save_path = "../plots/"
if not os.path.exists(fig_save_path):
    os.makedirs(fig_save_path)
m1.save(os.path.join(fig_save_path,"top 5 closest CBD.html"))

In [53]:
df_train = df_1.sort_values(by='train_station(m)', axis=0, ascending=True)
df_train[['train_station(m)','cost_text']].head()
# top  5 suburb has shortest distance to train station
#liveable for old people who have difficulty with their legs

          train_station(m)   cost_text
postcode
3919            582.500000  390.000000
3143            582.817857  576.703297
3003            701.069231  606.282051
3000            729.649129  595.713214
3141            749.183871  626.924566

In [54]:
df_train = df_train.head()
df_train = df_train.reset_index(drop=True)
df_train = pd.merge(df_train,sf,on = ['postcode'],how='left')

In [55]:
m2 = folium.Map(location=[-37.0,144], control_scale=True, zoom_start=7)

# The average population of 2022 in each suburb
c = folium.Choropleth(
    geo_data=geoJSON, 
    name='choropleth1', 
    data=df_1, 
    columns=['postcode','train_station(m)'], 
    key_on='properties.postcode', 
    fill_color='YlOrRd', 
    nan_fill_color='black',
    legend_name='Top 5 postcodes closest to Train Station'
)

c.add_to(m2)

df_copy = df_train.copy()

for i in range(0, len(df_copy)):
    html="""
    <h4> Postcode: </h4>""" + str(df_copy.iloc[i]['postcode'])+ \
    """<h4>Distance closest train station:</h4>""" + str(df_copy.iloc[i]['train_station(m)'])
    iframe = folium.IFrame(html=html, width=200, height=300)
    popup = folium.Popup(iframe, max_width=2650)
    folium.Marker(
        location=[df_copy.iloc[i]['centroid'][0],df_copy.iloc[i]['centroid'][1]],
        popup= popup,
        tooltip=str(df_copy.iloc[i]['postcode']),
        icon=folium.Icon(color='green',icon='home',prefix="fa"),
    ).add_to(m2)

import os
fig_save_path = "../plots/"
if not os.path.exists(fig_save_path):
    os.makedirs(fig_save_path)
m2.save(os.path.join(fig_save_path,"top 5 closest train station.html"))